@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(to left top, rgba(19, 13, 51, 0.7), #fff);
    display: flex;
    flex-direction: column;
}
